NEXT_PUBLIC_BASE_PATH=/skycrew
NEXT_PUBLIC_GRAPHQL_URL=https://anthonydenin.dev/graphql
NEXT_PUBLIC_BACKEND_URL=https://anthonydenin.dev
NEXT_PUBLIC_DEMO_MODE=true

# Public integrations
NEXT_PUBLIC_OPENWEATHERMAP_API_KEY=
NEXT_PUBLIC_MAPBOX_ACCESS_TOKEN=
NEXT_PUBLIC_STRIPE_PUBLISHABLE_KEY=
NEXT_PUBLIC_PAYPAL_CLIENT_ID=
