NEXT_PUBLIC_API_URL=http://localhost:3000/graphql
NEXTAUTH_URL=http://api.skycrew.local:8080/graphql
NEXT_PUBLIC_OPENWEATHERMAP_API_KEY=
NEXT_PUBLIC_MAPBOX_ACCESS_TOKEN=
NEXT_PUBLIC_STRIPE_PUBLISHABLE_KEY=
NEXT_PUBLIC_PAYPAL_CLIENT_ID=
SENTRY_SECRET_KEY=
NEXT_PUBLIC_OPENAIP_API_KEY=
NEXT_PUBLIC_DEMO_MODE=true
