@tailwind base;
@tailwind components;
@tailwind utilities;
@import 'react-quill/dist/quill.snow.css';

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@layer base {
  :root {
    --background: 220 14.3% 95.9%;
    --foreground: 222.2 84% 4.9%;
    --card: 210 20% 98%;
    --card-foreground: 222.2 84% 4.9%;
    --popover: 210 20% 98%;
    --popover-foreground: 222.2 84% 4.9%;
    --primary: 174 60% 50%;
    --primary-foreground: 210 40% 98%;
    --accent: 174 40% 90%;
    --accent-foreground: 222.2 47.4% 11.2%;
    --secondary: 220 13% 91%;
    --secondary-foreground: 222.2 47.4% 11.2%;
    --muted: 220 13% 91%;
    --muted-foreground: 215.4 16.3% 46.9%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;
    --border: 220 13% 91%;
    --input: 220 13% 91%;
    --ring: 174 60% 50%;
    --chart-1: 174 60% 50%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --radius: 0.5rem;
    --sidebar-background: 0 0% 98%;
    --sidebar-foreground: 240 5.3% 26.1%;
    --sidebar-primary: 240 5.9% 10%;
    --sidebar-primary-foreground: 0 0% 98%;
    --sidebar-accent: 240 4.8% 95.9%;
    --sidebar-accent-foreground: 240 5.9% 10%;
    --sidebar-border: 220 13% 91%;
    --sidebar-ring: 217.2 91.2% 59.8%;
  }
  .dark {
    --background: 215 27.9% 16.9%;
    --foreground: 210 40% 98%;
    --card: 215 27.9% 16.9%;
    --card-foreground: 210 40% 98%;
    --popover: 215 27.9% 16.9%;
    --popover-foreground: 210 40% 98%;
    --primary: 174 45% 55%;
    --primary-foreground: 210 40% 98%;
    --secondary: 216.9 19.1% 26.7%;
    --secondary-foreground: 210 40% 98%;
    --accent: 174 45% 55%;
    --accent-foreground: 210 40% 98%;
    --muted: 216.9 19.1% 26.7%;
    --muted-foreground: 215 20.2% 65.1%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;
    --border: 216.9 19.1% 26.7%;
    --input: 216.9 19.1% 26.7%;
    --ring: 174 45% 55%;
    --chart-1: 174 55% 60%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
    --sidebar-background: 240 5.9% 10%;
    --sidebar-foreground: 240 4.8% 95.9%;
    --sidebar-primary: 224.3 76.3% 48%;
    --sidebar-primary-foreground: 0 0% 100%;
    --sidebar-accent: 240 3.7% 15.9%;
    --sidebar-accent-foreground: 240 4.8% 95.9%;
    --sidebar-border: 240 3.7% 15.9%;
    --sidebar-ring: 217.2 91.2% 59.8%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
